* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  background-color: #87ceeb;
  height: 70px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .links {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
nav .links a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}
nav .login {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding-right: 30px;
}
nav .login .login-button {
  border: white 1px solid;
  border-radius: 40px;
  width: 100px;
  text-align: center;
  font-size: 25px;
  padding: 5px;
  margin-right: 30px;
}
nav .login .login-button a {
  text-decoration: none;
  color: white;
}

#content {
  text-align: center;
}
#content h1 {
  font-size: 50px;
  margin-bottom: 30px;
}
#content p {
  font-size: 20px;
  margin-bottom: 30px;
}
#content .user-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#content .user-input input {
  font-size: 20px;
  height: 35px;
  width: 250px;
  text-align: center;
  margin-right: 10px;
  border: 2px solid #71797e;
  margin-bottom: 20px;
}
#content .user-input .num-days {
  margin-bottom: 10px;
}
#content .user-input .num-days label {
  font-size: 25px;
}
#content .user-input .num-days select {
  width: 50px;
  height: 30px;
  margin-bottom: 10px;
}
#content .user-input button {
  height: 35px;
  width: 100px;
  font-size: 20px;
  background-color: #87ceeb;
  color: white;
  border-radius: 20px;
  border: none;
}

#local {
  margin: 20px auto;
  width: 65%;
  color: white;
}
#local .current {
  background-color: #89cfeb;
  border-radius: 60px;
  border: 3px solid #71797e;
}
#local .current .city {
  padding-top: 20px;
  text-align: center;
  font-size: 40px;
}
#local .current .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 350px;
  border-bottom: 2px #71797e solid;
}
#local .current .top .temp {
  border-radius: 40px;
  width: 48%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#local .current .top .temp h3 {
  font-size: 30px;
}
#local .current .top .temp p {
  font-size: 30px;
}
#local .current .top .condition {
  border-radius: 40px;
  width: 50%;
  height: 300px;
}
#local .current .top .condition img {
  height: 200px;
  width: 200px;
}
#local .current .top .condition p {
  font-size: 40px;
}
#local .current .columns {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#local .current .columns .column p {
  font-size: 25px;
}
#local .current .columns .column p:nth-child(odd) {
  margin-bottom: 4px;
  font-size: 30px;
}

.forecast {
  margin: 30px 0px 30px 0px;
}
.forecast h1 {
  color: black;
}
.forecast .days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.forecast .days .day {
  background-color: #87ceeb;
  border-radius: 40px;
  border: 3px solid #71797e;
  width: 30%;
}
.forecast .days .day .title {
  font-size: 30px;
}
.forecast .days .day .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 2px solid #71797e;
}
.forecast .days .day .information .day-condition {
  width: 30%;
  height: 100px;
}
.forecast .days .day .information .day-condition img {
  height: 100px;
  width: 100px;
  margin-bottom: 15px;
}
.forecast .days .day .information .day-temp {
  width: 30%;
}
.forecast .days .day .information .day-temp p {
  font-size: 10px;
}
.forecast .days .day .information .day-temp p:nth-child(odd) {
  margin-bottom: 4px;
}
.forecast .days .day .day-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10px;
}
.forecast .days .day .day-columns .day-column {
  width: 40%;
}
.forecast .days .day .day-columns .day-column p {
  font-size: 25px;
}
.forecast .days .day .day-columns .day-column p:nth-child(odd) {
  margin-bottom: 4px;
  font-size: 30px;
}